
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
  /*  width: calc(100% - 50%); */
  }
  
  th, td {
    padding: 15px;
  }
    button{
     padding: 15px;
     margin:0;
     border: none;
   }
